* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, blue, rgb(255, 0, 0));
    display: grid;
    place-items: center;
    font-family: 'Tilt Warp', cursive;
}

h1 {
    margin: 50px 0 50px 0;
    font-size: 5rem;
    color: transparent;
    text-align: center;
    animation: effect 2s linear infinite;
    -webkit-text-stroke: .5px black;
}

#plrDtl {
    display: flex;
    width: 95vw;
    position: relative;
}

#oppNameC {
    position: absolute;
    right: 0;
}

.inputText {
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

input {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid #00FF00;
    background: transparent;
    color: white;
    box-shadow: 5px 5px rgba(23, 20, 20, 0.564);
}

button {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#winner {
    text-shadow: 2px 2px grey;
}

#loading {
    width: 80px;
}

#matrix {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.btn {
    font-size: 2rem;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 0;
    background-color: rgb(206, 203, 203);
    border-radius: 10px;
}

#find {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
    width: 250px;
    background-color: rgb(33, 31, 31);
    box-shadow: 5px 5px rgba(23, 20, 20, 0.564);
}

.btn:hover {
    background-color: rgb(226, 228, 230);
}

button.enabled {
    opacity: 1;
}

p {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.container {
    padding: 2em;
}

.student {
    font-size: 15px;
}

@keyframes effect {
    0% {
        background: linear-gradient( #008000, #00FF00);
        -webkit-background-clip: text;
    }
    50% {
        background: linear-gradient( #3abd4a, #38a7e2);
        -webkit-background-clip: text;
    }
    100% {
        background: linear-gradient( #54b569, #0bebef);
        -webkit-background-clip: text;
    }
}